{% extends 'base.html.twig' %}

{% block title %}Se connecter - Gestion des associations Magland{% endblock %}

{% block content %}
    <div class="position-fixed ">
        <img class="h-25 w-25" src="{{ asset('assets/images/site/soleil.png') }}">
    </div>

    {% for message in app.flashes('notice')%}
        <div class="container alert alert-info text-center justify-content-center w-50">{{ message }}</div>
    {% endfor %}
    <div class="d-flex justify-content-center text-center">
        <form method="post" class="w-30 h-auto mt-3 z-1">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-5">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
            <label for="inputName" class="mb-3">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control mb-3" autocomplete="username" required autofocus>
            <label for="inputPassword" class="mb-3">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary mt-3 z-1" type="submit">
                Se connecter
            </button>
            <hr>
            <p class=""><a href="{{ path('app_reset_password') }}">Mot de passe oublié?</a></p>
        </form>
        <div class="container-fluid position-absolute bottom-0 text-center w-100 z-0">
            <img class="img-fluid w-80 " src="{{ asset('assets/images/site/association.png') }}">
        </div>
    </div>

{% endblock %}
