{% extends 'base.html.twig' %}

{% block title %}Création d'une association{% endblock %}
{% block nav %}
    <a class="btn btn-sm btn-info m-2" href="{{ path('app_admin_association') }}" >Retour</a>
{% endblock %}

{% block content %}
    <div class="text-center mb-5">

        <h2 class="text-center m-3">Gestion des associations</h2>

        <div class="card bg-info-subtle" style="width: auto">
        <div class="card-body">
        <h5 class="card-title">{{ association.name }}</h5>
            <h5 class="card-title">{{ association.phone }}</h5>
        <h5 class="card-title">{{ association.email }}</h5>

        </div>
        </div>
    </div>

<div class="container">
    <div class="row justify-content-center">
        {% for membre in association.membres %}
            <div class="col-md-5 col-sm-12 col-lg-4 mt-3">
                <div class="card bg-dark-subtle">
                    <div class="card-body">
                        <div class="recipe_images float-end">
                            <img style="max-width: 100px; max-height: 150px" src="{{ vich_uploader_asset(membre, 'imageFile') }}">
                        </div>
                        <h5 class="card-text text-warning text-center">{{ membre.role}}</h5>
                        <h5 class="card-title">{{ membre.nom }}</h5>
                        <h5 class="card-title">{{ membre.prenom }}</h5>
                        <p class="card-text">{{ membre.telephone}}</p>
                        <p class="card-text">{{ membre.adresse}}</p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
