{% extends 'base.html.twig' %}

{% block title %}Ajouter un membre{% endblock %}
{% block nav %}
    <a class="btn btn-sm btn-info m-2" href="{{ path('app_association_home') }}" >Retour</a>
{% endblock %}
{% block content %}
    <div class="text-center mb-5">
        <h1 class="text-center m-3">{{app.user.name}}</h1>
        <h2 class="text-center m-3">Gestion des membres de l'association</h2>
        <a href="{{ path('app_add_membres') }}" class="btn btn-info ">Ajouter un membre</a>
    </div>

        <div>
            {% if app.user.membres|length == 0 %}
                <p class="text-center">Vous n'avez pas encore ajouté de membre à votre association</p>
            {% else %}

        <div class="row">
                {% for membre in app.user.membres %}
            <div class="col-md-4 col-sm-6 col-lg-3 mt-3 ">
                <div class="card bg-dark-subtle" style="width: 15rem">
                    <div class="card-body">
                        <h5 class="card-title">{{ membre.nom }}</h5>
                        <h5 class="card-title">{{ membre.prenom }}</h5>
                        <p class="card-text">{{ membre.telephone}}</p>
                        <p class="card-text">{{ membre.adresse}}</p>
                        <h5 class="card-text text-warning">{{ membre.role}}</h5>
                        <a href="{{path('app_edit_membres', { 'id' : membre.id}) }}">Modifier</a> | <a href="{{path('app_remove_membres', {'id' : membre.id})}}">Supprimer</a>
                    </div>
                </div>
            </div>
                {% endfor %}
        </div>


            {% endif %}
        </div>

{% endblock %}
