<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Gestion des associations{% endblock %}</title>
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    </head>
    <body data-bs-theme="dark">
    {% if (app.user) %}

    <header>
        <nav class="navbar bg-primary bg-gradient p-2" style="--bs-bg-opacity: .5;">
            <form class="container-fluid">
<div>
{% if (app.user.roles[0] == 'ROLE_ADMIN') %}
    <a class="btn btn-sm btn-success m-2" href="{{ path('app_admin_home') }}" >Accueil</a>
{% else %}
    <a class="btn btn-sm btn-success m-2" href="{{ path('app_association_home') }}" >Accueil</a>
{% endif %}{% block nav %}{% endblock %}
</div>
                <div><img class="navbar-brand d-none d-md-block" height="50" src="{{ asset('assets/images/site/logo_magland.jpg') }}"></div>
                <div><img class="navbar-brand d-none d-md-block" height="50" src="{{ asset('assets/images/site/logo_flaine.jpg') }}"></div>
                <a class="btn btn-sm btn-danger float-end" href="{{ path('app_logout') }}" type="button">Se déconnecter</a>

            </form>
        </nav>

    </header>
    {% endif %}

{% for message in app.flashes('warning') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    </body>
</html>
