{% extends 'base.html.twig' %}

{% block title %}Demande de communication{% endblock %}
{% block nav %}
    <a class="btn btn-sm btn-info m-2" href="{{ path('app_association_home') }}" >Retour</a>
{% endblock %}

{% block content %}
    <h2 class="text-center m-3">{{app.user.name}}</h2>
    <h2 class="text-center m-3 text-warning">Demande de communication</h2>
    {% for message in app.flashes('notice')%}
        <div class="container alert alert-danger text-center justify-content-center w-50">{{ message }}</div>
    {% endfor %}

    <section class="bg-white opacity-75 m-3 rounded-5">
        <div class="row rounded-5 text-center justify-content-center">
            <h5 class="text-info">Utilisez les logos officiels de la commune pour vos publications</h5>
            <div class="col-4 text-center mb-3">
                <img class="" width="200px" src="{{ asset('assets/images/site/logo_magland.png') }}"><br>
            </div>
            <div class="col-4 text-center mb-3">
                <img class="" width="200px" src="{{ asset('assets/images/site/logo_flaine.png') }}"><br>
            </div>
        </div>
        <div class="row text-center justify-content-center p-3">
            <div class=" col-4">
                <a class="btn btn-info">Télécharger</a>
            </div>
            <div class="col-4">
                <a class="btn btn-info">Télécharger</a>
            </div>
        </div>
    </section>

    <section style="background-color:#CF9282" class="m-3 rounded-5">
    <div class="row  justify-content-center">
        <div class="col-12 col-md-8 h-50 text-black text-center rounded-5" style="background-color:#CF9282">
            <h2 style="font-style: italic">Site internet / Facebook</h2>
            <div class="row">
                <div class="col-6 col-md-2"><img class="" width="100px" src="{{ asset('assets/images/site/facebook.png') }}"></div>
                <div class="col-12 col-md-8"><p class="h5">Vous organisez un événement ? Le service communication peut créer un visuel que nous aurons le plaisir de publier sur la page Facebook et le site internet de la commune!
                        Vous pouvez également nous fournir votre propre visuel.</p></div>
                <div class="col-6 col-md-2">
                    <img class="" width="100px" src="{{ asset('assets/images/site/internet.png') }}">
                </div>
            </div>
        </div>

    </div>
        <div class="row justify-content-center " >
            <div class="col-10 col-md-10 rounded-5 p-3" style="background-color:#CF9282">
                <h3 class="text-center text-black">Exemples de création</h3>
                <div class="row text-center justify-content-center" >
                    <div class="col-10 col-md-4"><img class="" width="200px" src="{{ asset('assets/images/site/recrute.png') }}"></div>

                    <div class="col-10 col-md-4">
                        <img class="" width="200px" src="{{ asset('assets/images/site/numérique.png') }}"></div>
                    <div class="col-10 col-md-4"><img class="" width="200px" src="{{ asset('assets/images/site/sang.png') }}"></div>
                </div>
            </div>

        </div>
    </section>
    <section style="background-color:#90CF82" class="m-3 rounded-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 h-50 text-black text-center rounded-5">
                <h2 style="font-style: italic">Grilles</h2>
                <div class="row justify-content-center p-3">
                    <div class="col-12 col-md-8"><p class="h5">Vous pouvez utiliser les 2 grilles situées à chaque entrée de la ville au bord de la route départementale !</p>
                    <p>Les banderoles doivent être au format : 3 mètres x 1 mètre</p>
                        <p style="font-size: 20px" class="text-danger">N'oubliez pas de faire au préalable votre demande à l'aide du formulaire en bas de page.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row justify-content-center " >
            <div class="col-10 col-md-10 rounded-5 p-3">
                <div class="row text-center justify-content-center" >
                    <div class="col-10 col-md-4"><img class="" width="200px" src="{{ asset('assets/images/site/grilles.jpg') }}"></div>

                    <div class="col-10 col-md-4">
                        <img class="" width="200px" src="{{ asset('assets/images/site/grilles.jpg') }}"></div>
                    <div class="col-10 col-md-4"><img class="" width="200px" src="{{ asset('assets/images/site/grilles.jpg') }}"></div>
                </div>
            </div>

        </div>
    </section>
    <section style="background-color:#82C2CF" class="m-3 rounded-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 h-50 text-black text-center rounded-5">
                <h2 style="font-style: italic">Panneau lumineux</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8"><p class="h5">Profitez d'une magnifique visibilité recto/verso en utilisant le panneau lumineux du bourg.</p>
                    <br>
                    <p>Remplissez le formulaire en bas de cette page pour demander la publication de votre visuel.</p></div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center " >
            <div class="col-10 col-md-10 rounded-5 p-3">

                <div class="row text-center justify-content-center" >
                    <div class="col-10 col-md-4"><img class="" width="200px" src="{{ asset('assets/images/site/panneau1.jpg') }}"></div>

                    <div class="col-10 col-md-4">
                        <img class="" width="200px" src="{{ asset('assets/images/site/panneau2.jpg') }}"></div>
                    <div class="col-10 col-md-4"><img class="" width="200px" src="{{ asset('assets/images/site/panneau3.jpg') }}"></div>
                </div>
            </div>

        </div>

    </section>
    <section style="background-color:#B392F0" class="m-3 rounded-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 h-50 text-black text-center rounded-5" >
                <h2 style="font-style: italic">Affichage</h2>
                <div class="row justify-content-center">

                    <div class="col-12 col-md-8"><p class="h5">6 panneaux d'affichage "Côté association" sont mis à disposition dans la commune :</p></div>
                </div>




            </div>
            <div class="col-6 text-center text-black">

                    <p style="font-size: 20px">-Balme & côté de Super U</p>
                    <p style="font-size: 20px">-Oratoire de la Tour Noire</p>
                    <p style="font-size: 20px">-Tri sélectif de Gravin</p>
                    <p style="font-size: 20px">-Tri sélectif de Val d'Arve</p>
                    <p style="font-size: 20px">-Collecte de déchets de Oëx</p>
                    <p style="font-size: 20px">-Place de l'Église </p>

            </div>
            <div class="col-6 justify-content-center">
                <img class="" width="200px" src="{{ asset('assets/images/site/affichage1.jpg') }}">
                <img class="" width="200px" src="{{ asset('assets/images/site/affichage2.jpg') }}">
            </div>
        </div>


    </section>



<section class="m-5">
    {{ form_start(form) }}
    <div class="row justify-content-center ">

        <div class="col-10">{{ form_row(form.description) }}</div>
        <div class="col-10 col-md-5">{{ form_row(form.date_start) }}</div>
        <div class="col-10 col-md-5">{{ form_row(form.date_stop) }}</div>
        <div class="col-10 col-md-5">{{ form_row(form.imageFile1) }}</div>
        <div class="col-10 col-md-5">{{ form_row(form.imageFile2) }}</div>
        <div class="text-center">{{ form_row(form.submit) }}</div>

    </div>
    {{ form_end(form) }}

</section>


{% endblock %}
